.servicescardPage {
    
    .box-container {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        grid-template-columns: repeat(3, 1fr );
        gap: 30px;
        padding: 0;
        margin: auto;
        max-width: 1650px;
        // border: 5px solid red;
        // margin-left: 5%;
        // margin-right: 5%;
        margin-top: 3%;
        margin-bottom: 3%;

    }

    .box-container .box {
         background: white;
         border-radius: 10px;
         box-shadow: 2px 2px 5px black;
         border: 1px solid whitesmoke;
         padding: 1.5rem;
        //  height: 40%;
        //  width: 100%;
    }

    // .box:hover {
    //     background-color: #e2e2e2;
    //     cursor: pointer;
    //     transition: 0.3s;

    // }

    .box-container .box h3 {
        color: black;
        line-height: 4rem;
        text-align: center;
        font-size: 2rem;
        // padding: 1rem 0;
    }

    .box-container .box p {
        color: black;
        font-size: 1.5rem;
        text-align: center;
        // padding: 1rem 0;
    }



    @media screen and (max-width: 980px) {
        .box-container {
            max-width: 90%;
            margin: auto;
            grid-template-columns: 1fr;
            margin-top: 3%;
            margin-bottom: 3%;
        }

     }

     @media screen and (max-width: 640px) {
        .box-container {
            max-width: 100%;
            margin: auto;
            grid-template-columns: 1fr;
            margin-top: 3%;
            margin-bottom: 3%;
        }
        
        .box-container .box h3 {
            color: black;
            line-height: 2rem;
            // border: 5px solid red;
            text-align: center;
            font-size: 1.5rem;
            // padding: 1rem 0;
        }
    
        .box-container .box p {
            color: black;
            font-size: 1.2rem;
            text-align: center;
            // padding: 1rem 0;
        }

     }

}